<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Italian excellence in artificial intelligence.
                    Leveraging advanced machine learning, computer vision and natural language processing to create new AI-based businesses, accelerate them, and iterate "fail-fast" on the creation process.
                    Realizing fundamental and applied research, partnering, and exploring product-market-fit of each technology and vertical and technology.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
