<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/luca_rigazio.jpg" class="img-responsive" alt="">
                    <h3>Luca Rigazio</h3>
                    <p class="text-muted">Founder of one of the first Deep-Learning groups in Silicon Valley (Mountain View, California) in 2013, ranging in technological and application areas from Speech and Language to Autonomous Systems (including Autonomous Drive), Robotics, Vision, Reinforcement Learning, Generative Modeling, Adversarial Robustness, and many other areas of modern artificial intelligence based on deep architectures learning.
                        Holder of more than 60 patents and more than 40 publications, many of these technologies have been adopted in products on the global market. Expert in the Silicon Valley ecosystem and Asia in general, Japan in particular, connects advanced academic and corporate research to industrial applications and to startup and venture capital.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/fabio_galasso.jpg" class="img-responsive" alt="">
                    <h3>Prof. Fabio Galasso</h3>
                    <p class="text-muted">Director of the Perception and Intelligence Lab (https://www.pinlab.org/) at the Department of Computer Science, Sapienza University of Rome (Italy), conducting research in artificial intelligence, computer vision, and machine learning.
                        Previously founder and head of the Computer Vision Department at OSRAM (Munich, Germany), leading research and development in artificial intelligence, computer vision, and machine learning in relation to applications of smart lighting, strategic planning, and productization of AI technology. Former research associate at the University of Cambridge (UK) and the Max Planck Institute for Informatics (Germany).
                        Prof. Galasso's research achievements include acquiring and completing national (German and Italian) and international (H2020) projects, industrial and area chairing of top international conferences, co-organizing international workshops, publishing at top international conferences (incl. CVPR, ECCV, ICCV, ICLR) and journals (incl. TPAMI, PR).
                        Prof. Galasso's industrial achievements include 23 granted patents, pilot installations at large industrial partners, and the creation of a new product, awarded the IoT/WT Innovation World Cup 2019, the Digital Champions Award 2019, and the Deutscher Digital Award 2018. Personal page (https://fgalasso.bitbucket.io/)</p>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="img/luca_rigazio.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-8">
                            <h3>Luca Rigazio</h3>
                            <p class="text-muted">Founder of one of the first Deep-Learning groups in Silicon Valley (Mountain View, California) in 2013, ranging in technological and application areas from Speech and Language to Autonomous Systems (including Autonomous Drive), Robotics, Vision, Reinforcement Learning, Generative Modeling, Adversarial Robustness, and many other areas of modern artificial intelligence based on deep architectures learning.
                                Holder of more than 60 patents and more than 40 publications, many of these technologies have been adopted in products on the global market. Expert in the Silicon Valley ecosystem and Asia in general, Japan in particular, connects advanced academic and corporate research to industrial applications and to startup and venture capital.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="img/fabio_galasso.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-8">
                            <h3>Prof. Fabio Galasso</h3>
                            <p class="text-muted">Director of the Perception and Intelligence Lab (https://www.pinlab.org/) at the Department of Computer Science, Sapienza University of Rome (Italy), conducting research in artificial intelligence, computer vision, and machine learning.
                                Previously founder and head of the Computer Vision Department at OSRAM (Munich, Germany), leading research and development in artificial intelligence, computer vision, and machine learning in relation to applications of smart lighting, strategic planning, and productization of AI technology. Former research associate at the University of Cambridge (UK) and the Max Planck Institute for Informatics (Germany).
                                Prof. Galasso's research achievements include acquiring and completing national (German and Italian) and international (H2020) projects, industrial and area chairing of top international conferences, co-organizing international workshops, publishing at top international conferences (incl. CVPR, ECCV, ICCV, ICLR) and journals (incl. TPAMI, PR).
                                Prof. Galasso's industrial achievements include 23 granted patents, pilot installations at large industrial partners, and the creation of a new product, awarded the IoT/WT Innovation World Cup 2019, the Digital Champions Award 2019, and the Deutscher Digital Award 2018. Personal page (https://fgalasso.bitbucket.io/)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
